@charset "utf-8";



@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

@import url('https://cdn.jsdelivr.net/gh/fonts-archive/TmoneyRoundWind/TmoneyRoundWind.css');
/* font-family: 'Tmoney Round Wind'; */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
/* font-family: "Pretendard Variable", Pretendard, -apple-system, 'Outfit', BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */




/* ==========================
    01. 프리텐다드
========================== */


/* font-display: swap; = 웹폰트 로딩 전까지는 기본폰트로 보여주고, 다운로드되면 즉시 웹폰트로 교체*/

/*** Pretendard 전체 굵기 @font-face (eot / woff2 / woff / ttf) ***/

/* Thin 100 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-Thin.eot');
    src: url('../fonts/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-Thin.woff2') format('woff2'),
        url('../fonts/Pretendard-Thin.woff') format('woff'),
        url('../fonts/Pretendard-Thin.ttf') format('truetype');
} */

/* ExtraLight 200 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-ExtraLight.eot');
    src: url('../fonts/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../fonts/Pretendard-ExtraLight.woff') format('woff'),
        url('../fonts/Pretendard-ExtraLight.ttf') format('truetype');
} */

/* Light 300 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-Light.eot');
    src: url('../fonts/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-Light.woff2') format('woff2'),
        url('../fonts/Pretendard-Light.woff') format('woff'),
        url('../fonts/Pretendard-Light.ttf') format('truetype');
} */

/* Regular 400 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-Regular.eot');
    src: url('../fonts/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-Regular.woff2') format('woff2'),
        url('../fonts/Pretendard-Regular.woff') format('woff'),
        url('../fonts/Pretendard-Regular.ttf') format('truetype');
} */

/* Medium 500 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-Medium.eot');
    src: url('../fonts/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-Medium.woff2') format('woff2'),
        url('../fonts/Pretendard-Medium.woff') format('woff'),
        url('../fonts/Pretendard-Medium.ttf') format('truetype');
} */

/* SemiBold 600 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-SemiBold.eot');
    src: url('../fonts/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-SemiBold.woff2') format('woff2'),
        url('../fonts/Pretendard-SemiBold.woff') format('woff'),
        url('../fonts/Pretendard-SemiBold.ttf') format('truetype');
} */

/* Bold 700 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-Bold.eot');
    src: url('../fonts/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-Bold.woff2') format('woff2'),
        url('../fonts/Pretendard-Bold.woff') format('woff'),
        url('../fonts/Pretendard-Bold.ttf') format('truetype');
} */

/* ExtraBold 800 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-ExtraBold.eot');
    src: url('../fonts/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../fonts/Pretendard-ExtraBold.woff') format('woff'),
        url('../fonts/Pretendard-ExtraBold.ttf') format('truetype');
} */

/* Black 900 */
/* @font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Pretendard-Black.eot');
    src: url('../fonts/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard-Black.woff2') format('woff2'),
        url('../fonts/Pretendard-Black.woff') format('woff'),
        url('../fonts/Pretendard-Black.ttf') format('truetype');
} */


/* ==========================
    02. 티머니 둥근바람
========================== */

@font-face {
    font-family: 'Tmoney Round Wind';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/TmoneyRoundWindRegular.eot');
    src: url('../fonts/TmoneyRoundWindRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TmoneyRoundWindRegular.woff2') format('woff2'),
        url('../fonts/TmoneyRoundWindRegular.woff') format('woff'),
        url('../fonts/TmoneyRoundWindRegular.otf') format('opentype'),
        url('../fonts/TmoneyRoundWindRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tmoney Round Wind';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/TmoneyRoundWindExtraBold.eot');
    src: url('../fonts/TmoneyRoundWindExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TmoneyRoundWindExtraBold.woff2') format('woff2'),
        url('../fonts/TmoneyRoundWindExtraBold.woff') format('woff'),
        url('../fonts/TmoneyRoundWindExtraBold.otf') format('opentype'),
        url('../fonts/TmoneyRoundWindExtraBold.ttf') format('truetype');
}