@charset "utf-8";
/* @import url("reset.css"); */



@import url('https://cdn.jsdelivr.net/gh/fonts-archive/TmoneyRoundWind/TmoneyRoundWind.css');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

body {
    font-family: 'Tmoney Round Wind';
    background-color: #f6f6f6;
}


/* ==========================
    01. intrp 인트로
========================== */

.logo-wrap {
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-family: 'Tmoney Round Wind';
}

.logo-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.box {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0%;
    z-index: 2;
    -webkit-animation: logos 2s;
    animation: logos 2s;
}

.box:after {
    content: "";
    display: block;
    height: 90%;
    width: 1px;
    background-color: #bbb;
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    margin: auto;
    -webkit-animation: expand 2s;
    animation: expand 2s;
}

.text {
    color: #191919;
    padding-left: 160px;
    line-height: 70px;
    font-size: 60px;
    font-weight: 800;
    -webkit-animation: fade 2.5s;
    animation: fade 2.5s;
}

@-webkit-keyframes expand {
    0% {
        height: 0;
    }

    40% {
        height: 0;
    }

    60% {
        height: 80%;
    }
}

@keyframes expand {
    0% {
        height: 0;
    }

    40% {
        height: 0;
    }

    60% {
        height: 80%;
    }
}

@-webkit-keyframes logos {
    0% {
        transform: scale(0);
        left: 40%;
    }

    40% {
        transform: scale(1);
        left: 40%;
    }

    60% {
        transform: scale(1);
        left: 40%;
    }

    100% {
        left: 0%;
    }
}

@keyframes logos {
    0% {
        transform: scale(0);
        left: 40%;
    }

    40% {
        transform: scale(1);
        left: 40%;
    }

    60% {
        transform: scale(1);
        left: 40%;
    }

    100% {
        left: 0%;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
        padding-left: 150px;
    }

    100% {
        opacity: 1;
        padding-left: 160px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
        padding-left: 150px;
    }

    100% {
        opacity: 1;
        padding-left: 160px;
    }
}



/* 반응형 브레이크 포인트 */
@media(max-width:767px) {

    .logo-wrap {
        min-height: 100dvh;
    }

    .logo-all {
        max-width: 420px;
    }

    .text {
        font-size: 40px;
        line-height: 50px;
        padding-left: 100px;
    }

    .box {
        width: 60px;
        height: 60px;
    }

    .box:after {
        right: -20px;
    }


    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            padding-left: 90px;
        }

        100% {
            opacity: 1;
            padding-left: 100px;
        }
    }



    @keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            padding-left: 90px;
        }

        100% {
            opacity: 1;
            padding-left: 100px;
        }
    }

}


@media(max-width:480px) {
    .logo-all {
        max-width: 300px;
    }

    .text {
        font-size: 30px;
        line-height: 40px;
        padding-left: 60px;
    }

    .box {
        width: 40px;
        height: 40px;
    }

    .box:after {
        right: -10px;
    }

    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            padding-left: 50px;
        }

        100% {
            opacity: 1;
            padding-left: 60px;
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            padding-left: 50px;
        }

        100% {
            opacity: 1;
            padding-left: 60px;
        }

    }

}



@media(max-width:320px) {
    .logo-all {
        max-width: 210px;
    }

    .text {
        font-size: 20px;
        line-height: 30px;
        padding-left: 50px;
    }

    .box {
        width: 30px;
        height: 30px;
    }

    .box:after {
        right: -10px;
    }

    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            padding-left: 40px;
        }

        100% {
            opacity: 1;
            padding-left: 50px;
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            padding-left: 40px;
        }

        100% {
            opacity: 1;
            padding-left: 50px;
        }
    }

}