@charset "utf-8";
/* @import url("reset.css"); */


@import url('https://cdn.jsdelivr.net/gh/fonts-archive/TmoneyRoundWind/TmoneyRoundWind.css');


/* ==========================
    02. 티머니 둥근바람
========================== */

/* @font-face {
    font-family: 'Tmoney Round Wind';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/TmoneyRoundWindRegular.eot');
    src: url('../fonts/TmoneyRoundWindRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TmoneyRoundWindRegular.woff2') format('woff2'),
        url('../fonts/TmoneyRoundWindRegular.woff') format('woff'),
        url('../fonts/TmoneyRoundWindRegular.otf') format('opentype'),
        url('../fonts/TmoneyRoundWindRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tmoney Round Wind';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/TmoneyRoundWindExtraBold.eot');
    src: url('../fonts/TmoneyRoundWindExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TmoneyRoundWindExtraBold.woff2') format('woff2'),
        url('../fonts/TmoneyRoundWindExtraBold.woff') format('woff'),
        url('../fonts/TmoneyRoundWindExtraBold.otf') format('opentype'),
        url('../fonts/TmoneyRoundWindExtraBold.ttf') format('truetype');
} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}


/* ==========================
    01. intro 인트로
========================== */

.intro-box .logo-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: var(--key-font);
    position: fixed;
    inset: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 9999;
    animation: introBg 3s 1.5s cubic-bezier(1, 0, 0.8, 1);
}


.intro-box .logo-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.intro-box .box {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0%;
    z-index: 2;
    -webkit-animation: logos 2s;
    animation: logos 2s;
}

.intro-box .box:after {
    content: "";
    display: block;
    height: 90%;
    width: 1px;
    background-color: var(--border-color);
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    margin: auto;
    -webkit-animation: expand 2s;
    animation: expand 2s;
}

.intro-box .text {
    color: var(--text-color);
    padding-left: 160px;
    line-height: 70px;
    font-size: 60px;
    font-weight: 800;
    -webkit-animation: fade 2.5s;
    animation: fade 2.5s;
}

@-webkit-keyframes expand {
    0% {
        height: 0;
    }

    40% {
        height: 0;
    }

    60% {
        height: 80%;
    }
}

@keyframes expand {
    0% {
        height: 0;
    }

    40% {
        height: 0;
    }

    60% {
        height: 80%;
    }
}

@-webkit-keyframes logos {
    0% {
        transform: scale(0);
        left: 40%;
    }

    40% {
        transform: scale(1);
        left: 40%;
    }

    60% {
        transform: scale(1);
        left: 40%;
    }

    100% {
        left: 0%;
    }
}

@keyframes logos {
    0% {
        transform: scale(0);
        left: 40%;
    }

    40% {
        transform: scale(1);
        left: 40%;
    }

    60% {
        transform: scale(1);
        left: 40%;
    }

    100% {
        left: 0%;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
        /* padding-left: 150px; */
    }

    100% {
        opacity: 1;
        /* padding-left: 160px; */
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
        /* padding-left: 150px; */
    }

    100% {
        opacity: 1;
        /* padding-left: 160px; */
    }
}


@keyframes introBg {
    0% {
        z-index: 1000;
        transform: translateY(0%);
    }

    80% {
        z-index: 1000;
        transform: translateY(0%);
    }

    99% {
        z-index: 1000;
    }

    100% {
        z-index: -1px;
        transform: translateY(-100%);
    }
}


/* 반응형 브레이크 포인트 */
@media(max-width:767px) {

    .intro-box .logo-wrap {
        min-height: 100dvh;
    }

    .intro-box .logo-all {
        max-width: 420px;
    }

    .intro-box .text {
        font-size: 40px;
        line-height: 50px;
        padding-left: 100px;
    }

    .intro-box .box {
        width: 60px;
        height: 60px;
    }

    .intro-box .box:after {
        right: -20px;
    }


    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            /* padding-left: 90px; */
        }

        100% {
            opacity: 1;
            /* padding-left: 100px; */
        }
    }



    @keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            /* padding-left: 90px; */
        }

        100% {
            opacity: 1;
            /* padding-left: 100px; */
        }
    }

}


@media(max-width:480px) {
    .intro-box .logo-all {
        max-width: 300px;
    }

    .intro-box .text {
        font-size: 30px;
        line-height: 40px;
        padding-left: 60px;
    }

    .intro-box .box {
        width: 40px;
        height: 40px;
    }

    .intro-box .box:after {
        right: -10px;
    }

    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            /* padding-left: 50px; */
        }

        100% {
            opacity: 1;
            /* padding-left: 60px; */
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            /* padding-left: 50px; */
        }

        100% {
            opacity: 1;
            /* padding-left: 60px; */
        }

    }

}



@media(max-width:320px) {
    .intro-box .logo-all {
        max-width: 210px;
    }

    .intro-box .text {
        font-size: 20px;
        line-height: 30px;
        padding-left: 50px;
    }

    .intro-box .box {
        width: 30px;
        height: 30px;
    }

    .intro-box .box:after {
        right: -10px;
    }

    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            /* padding-left: 40px; */
        }

        100% {
            opacity: 1;
            /* padding-left: 50px; */
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        65% {
            opacity: 0;
            /* padding-left: 40px; */
        }

        100% {
            opacity: 1;
            /* padding-left: 50px; */
        }
    }

}