@charset "utf-8";
/* @import url("reset.css"); */


/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700); */

/* @import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff'); */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ==========================
    01. ver
========================== */


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);


.logo-wrap {}

body {
    font-family: 'Lato', sans-serif;
    background: #222;
}

.logo {
    width: 300px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.box {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    background: #0074D9;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    font-style: italic;
    position: absolute;
    left: 0%;
    z-index: 2;
    animation: test 2s;
}

.box:after {
    content: "";
    display: block;
    height: 90%;
    width: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    margin: auto;
    animation: expand 2s;
}

.text {
    height: 60px;
    color: #fff;
    padding-left: 80px;
    line-height: 60px;
    font-size: 30px;
    font-weight: 100;
    animation: fade 2.5s;
}

@keyframes expand {
    0% {
        height: 0;
    }

    40% {
        height: 0;
    }

    60% {
        height: 80%;
    }
}

@keyframes test {
    0% {
        transform: scale(0);
        left: 39%;
    }

    40% {
        transform: scale(1);
        left: 39%;
    }

    60% {
        transform: scale(1);
        left: 39%;
    }

    100% {
        left: 0%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
        padding-left: 70px;
    }

    100% {
        opacity: 1;
        padding-left: 80px;
    }
}

/* ==========================
    02. ver
========================== */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

/*---------------------------------------------------*/
html#intro-02 {
    height: 100%;
}

body#intro-02 {
    background: radial-gradient(#fff, #ccc);
    overflow: hidden;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
}

.line {
    background: #999;
    height: 2px;
    width: 200%;
    position: absolute;
    top: 50%;
    left: 60%;
    animation: line-length 1s linear 0.5s forwards;
}

.center {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    animation: move 1s linear forwards;
}

.inner {
    width: 200px;
    margin: auto;
    line-height: 24px;
}

/*---------------------------------------------------*/
/*text style*/

h1,
h2,
h3 {
    display: inline-block;
    font-weight: 100;
}

h1 {
    letter-spacing: 2px;
    margin: 0;
    font-size: 48px;
    text-shadow: 0 0 1px #000;
}

h2 {
    margin: 0;
    letter-spacing: 2px;
    margin-left: 8px;
    color: #78100B;
    text-shadow: 0 0 2px #78100B;
}

h3 {
    vertical-align: super;
    margin: 0;
    font-size: 16px;
    text-shadow: 0 0 2px #000;
}

/*---------------------------------------------------*/
/*animation*/

#i1 {}

#i2 {
    transform: scale(-1, 1);
    opacity: 0;
    animation: show_text 1s linear 1.7s forwards, spin 0.1s linear 3.5s forwards;
}

#i3 {
    opacity: 0;
    animation: show_text 1s linear 2s forwards;
}

#i4 {
    opacity: 0;
    animation: show_text 1s linear 2.5s forwards;
}

/*---------------------------------------------------*/
/*Keyframes*/

@keyframes move {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes spin {
    from {
        transform: scale(-1, 1);
    }

    to {
        transform: scale(1, 1);
    }
}

@keyframes line-length {
    from {
        width: 200%;
    }

    to {
        width: 0;
    }
}

@keyframes show_text {
    from {
        z-index: -9999;
        opacity: 0;
    }

    to {
        z-index: 1;
        opacity: 1;
    }
}



/* ==========================
    03. ver
========================== */


@import url(https://fonts.googleapis.com/css?family=Lato:100);

html#intro-03,
body#intro-03 {
    height: 100%;
    background: #122121;
}

.anview-logo {
    font-family: "lato", sans-serif;
    width: 256px;
    height: 60px;
    left: 50%;
    top: 30%;
    margin-top: -30px;
    margin-left: -128px;
    position: absolute;
    animation: logo 5s ease;
}

@keyframes logo {
    from {
        transform: translateY(300px) scale(1.7);
    }

    40% {
        transform: translateY(110px) scale(1.3);
    }

    70% {
        transform: translateY(110px) scale(1.3);
    }
}

.anview-logo span {
    position: absolute;
    font-size: 64px;
    color: #fff;
    line-height: 60px;
}

.anview-logo span:nth-child(1) {
    font-size: 32px;
    width: inherit;
    text-align: center;
    margin-top: -55px;
    color: rgba(255, 255, 255, 0.6);
    animation: weare 5s ease;
}

@keyframes weare {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    40% {
        opacity: 0;
    }

    70% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.anview-logo span:nth-child(2) {
    font-size: 28px;
    width: inherit;
    text-align: center;
    opacity: 0;
    margin-top: -55px;
    color: rgba(255, 255, 255, 0.6);
    animation: weprovide 5s ease;
}

@keyframes weprovide {
    from {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
}

.anview-logo span:nth-child(3) {
    left: 13px;
    animation: a 5s ease;
    transform: translateX(0px);
}

@keyframes a {
    from {
        opacity: 0;
        transform: translateX(-90px);
    }

    40% {
        opacity: 1;
    }

    70% {
        transform: translateX(-90px);
    }
}

.anview-logo span:nth-child(4) {
    left: 54px;
    animation: n 5s ease;
    transform: translateX(0px);
}

@keyframes n {
    from {
        opacity: 0;
        transform: translateX(-70px);
    }

    40% {
        opacity: 1;
    }

    70% {
        transform: translateX(-70px);
    }
}

.anview-logo span:nth-child(5) {
    left: 30px;
    opacity: 0;
    animation: ice 5s ease;
}

@keyframes ice {
    from {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}

.anview-logo span:nth-child(6) {
    left: 102px;
    animation: view 5s ease;
    transform: translateX(0px);
}

@keyframes view {
    from {
        opacity: 0;
        transform: translateX(60px);
    }

    40% {
        opacity: 1;
    }

    70% {
        transform: translateX(60px);
    }
}